
	.adddiv{
		
	}
body{ margin:0; padding:0}
.abc{   
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
 	width: auto; 
	height: auto; 
	z-index: -100;
 	background: url(polina.jpg) no-repeat;
	background-size: cover; 
	z-index: -9999;
    }
	
	.yuming{
		padding: 10px 20px;
		background: #636363;
		font-size: 15px;
		border-style: none;
	}
	.seo{
		text-align: center;
		margin-top: 200px;
	}
	input[type=text]{
		padding: 12px 20px;
		width: 50%;
	}
	.yuming{
		margin-left: 15px;
		text-align: center;
	}
	.bm,.bg,.bv{
		margin-right:100%;
		color:#2E2E2E;
		background:#FFFFFF;
		border-style:double;
		border-style:outset;
		border-color:antiquewhite;
		border-radius:1px;
		margin-top: 10px;	
		
		
		
	}
	
